<footer class="border-top footer text-muted text-center">
    <div class="footerUp">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h4>Follow Us On</h4>
                    <div id="fdiv" class="footerDiv">
                        <ul id="ful" style="margin-top:20px; text-align:left">
                            <li class="licl"><a href="#" target="_blank" title="Facebook" id="acl"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li class="licl"><a href="#" target="_blank" title="Instagram" id="acl"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="licl"><a href="#" target="_blank" title="Twitter" id="acl"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li style="color:goldenrod;font-weight:bold">TOLBEEL PROFESSIONAL LAUNDRY SERVICES</li>
                        <li class="liTest">26, Lateef Toriola street, Kudeibu Estate, Ijegun, Ikotun</li>
                        <li class="liTest">Phone: + 234 (802) 310 9804</li>
                        <li class="liTest">Mail: <a href="#"> drycleaning@tolbeelglobalinvestment.com</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li style="color: goldenrod; font-weight: bold">TL EDUCATIONAL SERVICES</li>
                        <li class="liTest">26, Lateef Toriola street, Kudeibu Estate, Ijegun, Ikotun</li>
                        <li class="liTest">Phone: + 234 (817) 084 0334</li>
                        <li class="liTest">Mail: <a href="#"> tleduservices@tolbeelglobalinvestment.com</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li style="color: goldenrod; font-weight: bold">SMART LOGISTICS SERVICES</li>
                        <li class="liTest">26, Lateef Toriola street, Kudeibu Estate, Ijegun, Ikotun</li>
                        <li class="liTest">Phone: + 234 (170) 840 0181</li>
                        <li class="liTest">Mail:<a href="#">tdelivery@tolbeelglobalinvestment.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footerDown">
        <div style="background-color:darkblue;color:white">
            <p>Copyright  &copy; Tolbeel Global Investment @DateTime.Now.Year</a></p>
        </div>
    </div>
</footer>
