@{
    ViewBag.Title = "Remove User From Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ddl.css" rel="stylesheet" />

<div class="right_col" role="main">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="border:solid 2px deeppink">
                    <div class="text-center" style="background:#333333;margin-top:35px ">
                        <h3 style="color:deeppink">REMOVE A USER FROM ROLE</h3>
                    </div>
                    <div>

                        @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <p>
                                Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>) ViewBag.UserName, "SELECT USER", new { @class = "ddl" })
                                Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>) ViewBag.Roles, "SELECT ROLE", new { @class = "ddl" })
                                <span><input class="btn btn-danger" type="submit" value="Delete this user from Role" /></span>
                            </p>

                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /page content -->
<!-- jQuery -->
@*<script src="~/Scripts/jquery-1.11.3.min.js"></script>*@
<!-- Bootstrap -->
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<!-- FastClick -->
<script src="~/Scripts/fastclick.js"></script>
<!-- NProgress -->
<script src="~/Scripts/nprogress.js"></script>
<!-- Chart.js -->
<script src="~/Scripts/Chart.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/Scripts/custom.min.js"></script>
<script src="~/Scripts/validator.js"></script>
<script src="~/Content/moment.min.js"></script>



<!-- bootstrap-daterangepicker -->

<script src="~/Content/daterangepicker.js"></script>
<script src="~/Scripts/parsley.min.js"></script>
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/jquery.tagsinput.js"></script>
<script src="~/Scripts/switchery.min.js"></script>
<script src="~/Scripts/jquery.autocomplete.min.js"></script>
<script src="~/Scripts/starrr.js"></script>
<script src="~/Scripts/bootstrap-wysiwyg.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.js"></script>
<script src="~/Scripts/jquery.smartWizard.js"></script>



