
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LaundryLayout.cshtml";
}

<h2 style="text-align:center">PROFESSIONAL LAUNDRY AND DRY CLEANING SERVICES</h2>
<a href="/customer/index" class=""></a>
<div style="width:100%;height:650px">

    <img style="width:100%;height:650px" src="~/Content/images/5.png" />
</div>

